@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.ProductPage {
  &__title {
    font-weight: 800;
    font-size: 22px;

    @include onTablet {
      font-size: 32px;
    }
  }

  &__actions {
    @include onTablet {
      grid-column: 7 / 12;
      margin-right: 24px;
    }
  }

  &__capacity {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border: 1px solid $light-color;
      bottom: -24px;
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      border: 1px solid $light-color;
      top: -16px;
      width: 100%;
    }

    &_buttons {
      display: flex;
      gap: 8px;
    }

    &_button {
      font-family: 'Mont';
      background-color: white;
      border: 1px solid $light-color;
      border-radius: 4px;
      padding: 4px 8px;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $light-color;
        color: $dark-color;
      }

      &_active {
        background-color: $dark-color;
        color: $light-color;
        font-family: 'Mont';
        border-radius: 4px;
        padding: 4px 8px;
        line-height: 21px;
      }
    }
  }

  &__about {
    margin: 56px 0;
    @include onDesktop {
      grid-column: 1 / 6;
    }

    &_title {
      font-size: 20px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        border: 1px solid $light-color;
        bottom: -16px;
        left: 0;
        width: 100%;
      }

      @include onTablet {
        font-size: 22px;
        font-weight: 800;
      }
    }

    &_subtitle {
      font-size: 16px;
      margin-top: 48px;

      @include onTablet {
        font-size: 20px;
      }
    }

    &_text {
      font-weight: 600;
      font-size: 14px;
      color: $grey-color;
    }
  }

  &__techspecs {
    grid-column: 7 / 13;
    margin: 56px 0;

    &_title {
      position: relative;

      @include onTablet {
        font-size: 22px;
        font-weight: 800;
      }

      &::after {
        content: '';
        position: absolute;
        border: 1px solid $light-color;
        bottom: -16px;
        left: 0;
        width: 100%;
      }
    }

    &_subtitle {
      font-weight: 500;
      font-size: 14px;
      color: $grey-color;
      line-height: 21px;
    }
    &_text {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }

    &_wrapper {
      display: flex;
      justify-content: space-between;
      height: 16px;
      margin: 8px 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    height: 40px;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    color: #fff;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    background: #216cff;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
    transition: 300ms box-shadow;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }
  }

  &__favorite {
    padding: 11px;
    background: #fff;
    border: 1px solid #b4bdc4;
    border-radius: 48px;
    transition: 300ms border;
    cursor: pointer;

    &:hover {
      border: 1px solid $dark-color;
    }
  }

  &__price {
    display: flex;
    margin: 32px 0 16px;
    position: relative;
    align-items: center;

    &_old {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: line-through;
      color: $grey-color;
    }

    &_new {
      margin-right: 8px;
      color: $dark-color;
      font-weight: 800;
      font-size: 32px;
    }
  }
}

.container {
  @include onDesktop {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(12, 1fr);
  }
}

.tabletContainer {
  @include onTablet {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(12, 1fr);
  }
}
