@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';
@import '../../utils/extends.scss';

.phones {
  &__title {
    @extend %title;
  }

  &__count {
    margin-top: 12px;
    font-size: 14px;
    color: $grey-color;
  }
}
