@import '../../utils/vars.scss';
@import '../../utils/mixins.scss';

.card {
  height: 440px;
  border: 1px solid $light-color;
  border-radius: 8px;
  background: #fff;

  @include onTablet {
    height: 506px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  &__image {
    margin: 0 auto;
    height: 130px;
    margin-bottom: 24px;

    @include onTablet {
      height: 200px;
    }
  }

  &__name {
    height: 36px;
    color: $dark-color;
    font-weight: 600;
    font-size: 14px;
  }

  &__price {
    display: flex;
    margin: 10px 0 28px;
    position: relative;

    &_old {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: line-through;
      color: $grey-color;
    }

    &_new {
      margin-right: 8px;
      color: $dark-color;
      font-weight: 800;
      font-size: 22px;
    }
  }

  &__price::after {
    content: '';
    position: absolute;
    border: 1px solid $light-color;
    left: 0;
    bottom: -10px;
    width: 100%;
  }

  &__characteristics {
    margin-bottom: 16px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &_title {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $grey-color;
    }

    &_value {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $dark-color;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    color: #fff;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    background: #216cff;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
    transition: 300ms box-shadow;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }
  }

  &__favorite {
    padding: 11px;
    background: #fff;
    border: 1px solid #b4bdc4;
    border-radius: 48px;
    transition: 300ms border;

    &:hover {
      border: 1px solid $dark-color;
    }
  }
}
