@import '../utils/mixins.scss';
@import '../utils/vars.scss';

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 48px;
  margin-top: 70px;

  @include onTablet {
    margin-bottom: 32px;
    justify-content: space-between;
  }

  @include onDesktop {
    margin-bottom: 42px;
    height: 64px;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-items: center;
    margin: auto 0;
    width: 90px;
    height: 30px;
    padding-left: 16px;
  }

  &__list {
    padding-left: 16px;
    list-style: none;

    @include onDesktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    @include onTablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &-item {
      @include onTablet {
        margin: 14px;
      }

      @include onDesktop {
        margin: 100px;
      }
    }
  }

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav__button {
  font-family: Mont;
  color: #89939a;
  font-weight: 800;
  font-size: 12px;
  line-height: 48px;
  border: none;
  background: #fff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &-image {
    margin-left: 16px;
    width: 32px;
    height: 32px;
  }

  @include onDesktop {
    margin-right: 32px;
  }

  @include onTablet {
    margin-right: 32px;
  }
}
