@import '../../utils/vars.scss';
@import '../../utils/extends.scss';

.menu {
  height: calc(100vh - 150px);

  &__list {
    @extend %list;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 32px;
  }
}
