@import '../../utils/mixins.scss';
@import '../../utils/extends.scss';

.pagination {
  &__cards {
    @extend %grid;
  }

  &__count {
    padding: 24px 0 64px;
    display: flex;
    justify-content: center;

    @include onTablet {
      padding: 40px 0 64px;
    }

    @include onDesktop {
      padding: 40px 0 80px;
    }
  }
}
