@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.nav {
  &__link {
    color: #89939a;
    position: relative;
    padding: 18px 0;
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    line-height: 48px;
    text-transform: uppercase;

    @include onDesktop {
      padding: 26px 0;
    }
  }

  &__link:hover,
  &__link_is_active {
    color: $dark-color;
  }

  &__link:hover::after,
  &__link_is_active::after {
    content: '';
    position: absolute;
    background-color: $dark-color;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
  }
}

.menu {
  &__link {
    padding-bottom: 8px;
    color: #89939a;
    position: relative;
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__link:hover,
  &__link_is_active {
    color: $dark-color;
  }

  &__link:hover::after,
  &__link_is_active::after {
    content: '';
    position: absolute;
    background-color: $dark-color;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
  }

  &__icons_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-shadow: -1px -1px 0px $light-color;
    padding: 25px 0;
  }
}

.footer {
  &__link {
    color: #89939a;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    line-height: 36px;
    text-transform: uppercase;

    @include onTablet {
      padding-bottom: 16px;
    }
  }

  &__link:hover {
    color: $dark-color;
  }

  &__link:hover::after {
    content: '';
    position: absolute;
    background-color: $dark-color;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
  }
}

.icons {
  display: none;

  @include onTablet {
    display: flex;
  }

  &__link {
    display: flex;
    box-shadow: -1px 0px 0px $light-color;

    @include onTablet {
      padding: 16px;
    }

    @include onDesktop {
      padding: 25px;
    }
  }
}
