@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';


.footer {
  margin-top: 1px;
  box-shadow: 0px -1px 0px #E2E6E9;
  
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px;

    @include onTablet {
      height: 96px;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo-link {
    display: flex;
    justify-items: center;
    margin: 32px 0;
    width: 90px;
    height: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2px;

    @include onTablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &-item {
      @include onTablet {
        margin: 0 8px;
      }

      @include onDesktop {
        margin: 0 50px;
      }
    }
  }

  &__button {
    font-family: Mont;
    color: #89939a;
    font-weight: 800;
    font-size: 12px;
    border: none;
    background: #fff;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &-image {
      margin-left: 16px;
    }
  }
}
