@import './utils/mixins.scss';

@font-face {
  font-family: Mont;
  font-weight: 600;
  src: url('../public/fonts/Mont-Regular.otf') format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: 700;
  src: url('../public/fonts/Mont-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: 800;
  src: url('../public/fonts/Mont-Bold.otf') format('opentype');
}

body,
h1 {
  margin: 0;
  padding: 0;
  font-family: Mont;
}

.title {
  font-weight: 800;
  font-size: 32px;

  @include onTablet {
    font-size: 48px;
  }
}

.section {
  min-height: calc(100vh - 350px);
  padding-top: 32px;
  background: #fafbfc;

  @include onTablet {
    min-height: calc(100vh - 180px);
  }

  @include onDesktop {
    min-height: calc(100vh - 200px);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}

.menu {
  &__icons {
    background: #fff;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}