@import './utils/mixins.scss';
@import './utils/extends.scss';

@font-face {
  font-family: Mont;
  font-weight: 600;
  src: url('../public/fonts/Mont-Regular.otf') format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: 700;
  src: url('../public/fonts/Mont-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: Mont;
  font-weight: 800;
  src: url('../public/fonts/Mont-Bold.otf') format('opentype');
}

body,
h1 {
  margin: 0;
  padding: 0;
  font-family: Mont;
}

.title {
  @extend %title;
}

.section {
  min-height: calc(100vh - 350px);
  padding-top: 32px;
  background: #fafbfc;

  @include onTablet {
    min-height: calc(100vh - 180px);
  }

  @include onDesktop {
    min-height: calc(100vh - 200px);
  }
}

.container {
  @extend %container;
}

.menu {
  &__icons {
    background: #fff;
    display: flex;
    margin-top: auto;
  }
}
