@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  align-items: center;
  margin-bottom: 1px;
  background-color: white;
  box-shadow: 0px 1px 0px $light-color;

  @include onDesktop {
    padding-left: 24px;
  }

  &__link {
    margin: auto 32px auto 0;

    @include onDesktop {
      margin-right: 48px;
    }
  }

  &__logo {
    width: 64px;

    @include onDesktop {
      width: 80px;
    }
  }
}

.nav {
  display: flex;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__item:not(:last-child) {
    margin-right: 32px;

    @include onDesktop {
      margin-right: 64px;
    }
  }
}

.burger {
  display: flex;
  box-sizing: border-box;

  @include onTablet {
    display: none;
  }

  &__link {
    display: flex;
    box-shadow: -1px 0px 0px $light-color;
    padding: 17px;
  }
}

.icons {
  display: none;

  @include onTablet {
    display: flex;
  }

  &__link {
    display: flex;
    box-shadow: -1px 0px 0px $light-color;

    @include onTablet {
      padding: 16px;
    }

    @include onDesktop {
      padding: 25px;
    }
  }
}
