@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';
@import '../../utils/extends.scss';

.favourites {
  &__cards {
    @extend %grid;
  }

  &__title {
    margin: 0;
    @extend %title;
  }

  &__count {
    margin-top: 12px;
    font-size: 14px;
    color: $grey-color;
  }
}
