@import './mixins.scss';
@import './vars.scss';

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 14px;
  height: 4px;
  border-radius: 0;
  background: $dark-color;
}

.swiper-custom-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.swiper-buttons {
  display: none;
  position: relative;
  z-index: 0;

  @include onTablet {
    display: block;
    width: 670px;
    bottom: 205px;
    right: 50px;
  }

  @include onDesktop {
    bottom: 385px;
    right: 60px;
    width: 1160px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid $grey-color;
  border-radius: 48px;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    height: 220px;
  }

  @include onDesktop {
    height: 400px;
  }
}

.swiper-button-prev {
  background-image: url(./../images/back.svg);
}

.swiper-button-next {
  background-image: url(./../images/next-black.svg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}
