@import '../../utils/mixins.scss';

.cart {
  &__title {
    font-weight: 800;
    font-size: 32px;
    margin: 24px 0 32px;
    letter-spacing: -0.01em;
    color: #0f0f11;

    @include onTablet {
      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @include onDesktop {
      grid-template-columns: repeat(24, 1fr);
      padding-bottom: 80px;
    }
  }

  &__back_button {
    display: flex;
    cursor: pointer;
    color: #89939a;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #000;
    }
  }
}

.photo {
  height: 66px;
}

.product_list {
  &__item,
  &_checkout {
    grid-column: 1/5;
    border: 1px solid #e2e6e9;
    border-radius: 16px;
  }

  &__item {
    @include onTablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
    }

    @include onDesktop {
      grid-column: 1/17;
    }
  }

  &_checkout {
    margin: 20px 0 40px;

    @include onDesktop {
      grid-row: 1;
      grid-column: 17/25;
      margin: 0;
    }
  }
}

.item {
  &_information {
    display: flex;
    align-items: center;
    padding-top: 16px;
  }

  &_other_info {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    padding-right: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }

  &__quantity {
    display: flex;
    align-items: center;
    padding-left: 16px;

    @include onTablet {
      padding: 0 50px;
    }

    &_counter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: 1px solid #e2e6e9;
      border-radius: 48px;
      font-size: 25px;
      cursor: pointer;
      transition: 300ms border;

      &:hover {
        border: 1px solid #0f0f11;
      }
    }

    &_count {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      padding: 0 14px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    padding: 0 16px;
  }

  &__delete {
    display: inline-block;
    cursor: pointer;
    margin: 0 35px 0 27px;
    padding: 0;
    border: none;
    background-color: #fafbfc;

    @include onTablet {
      margin: 0 27px 0 20px;
    }
  }
}

.checkout {
  &_total {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    margin: 20px 0 0;
  }

  &_count {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 5px 20px 32px;
    color: #89939a;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e6e9;
  }

  &_button {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    background: #216cff;
    border-radius: 8px;
    text-align: center;
    padding: 13px;
    margin: 20px;
    cursor: pointer;
    transition: 300ms box-shadow;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }
  }

  &__link {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 14px;
    color: #89939a;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
      color: #000;
    }

    @include onTablet {
      font-size: 20px;
    }

    @include onDesktop {
      margin-bottom: 0;
      font-size: 24px;
    }
  }
}

.dialog {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      justify-content: space-around;
      flex-direction: row;
    }
  }

  &__title {
    margin: 30px auto 70px;
  }
}
